<div class=select-btn>
  <button class=btn>Select</button>
</div>

<div class=legs>
  <ul class=legs-list>
    <% _.each(trip, function(leg) { %>
      <li>
        <div class=time>
          <p>
            <%= moment(leg.datetime).format("MMM D") %>
          </p>
          <b>
            <%= moment(leg.datetime).format("H:mm") %>
          </b>
        </div>
        <div class=origin>
          <p>
            <%= PuddleJumper.planets.findWhere({ id: leg.origin_id }).get('name') %>
          </p>
        </div>
        <div class="arrow right-arrow"></div>
        <div class=destination>
          <p>
            <%= PuddleJumper.planets.findWhere({ id: leg.destination_id }).get('name') %>
          </p>
        </div>
        <div class=remaining-space>
          <p><%= leg.remaining_space %> spaces available<p>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
