<li class=route>
  <p><%= details.origin.get("name") %></p>
  <div class="arrow double-arrow"></div>
  <p><%= details.destination.get("name") %></p>
</li>
<li class=dates>
  <p><%= details.departureDate %></p>
  <div class="arrow right-arrow"></div>
  <p><%= details.arrivalDate %></p>
</li>
<li class=num-trips>
  <p><%= details.numTrips %> itineraries</p>
</li>
<li class=num-travelers>
  <p><%= details.numTravelers %> traveler(s)</p>
</li>
