<div class=select-btn>
  <button class=btn>Select</button>
</div>
<div class=legs>
  <ul class=legs-list>

    <% _.each([fullTrip.departure, fullTrip.arrival], function(tripLeg) { %>
      <li>
        <div class="leg-item time">
          <p>
            <%= moment(tripLeg.get("datetime")).format("MMM D") %>
          </p>
          <b>
            <%= moment(tripLeg.get("datetime")).format("H:mm") %>
          </b>
        </div>
        <div class="leg-item origin">
          <p>
            <%= tripLeg.origin.get('name') %>
          </p>
        </div>
        <div class="leg-item arrow right-arrow"></div>
        <div class="leg-item destination">
          <p>
            <%= tripLeg.destination.get('name') %>
          </p>
        </div>
      </li>
    <% }); %>

    <% var numTravelers = PuddleJumper.tripSearch.get("numTravelers") %>
    <% var remainingSpace = fullTrip.remainingSpace() %>
    <% if (remainingSpace < (numTravelers + 10)) { %>
      <li>
        <div class=show-details-btn>

        </div>
        <div class="leg-item space">
          <p>Only <%= pluralize("space", remainingSpace, true) %> left on this trip<p>
        </div>
      </li>
    <% } %>
  </ul>
</div>
