<li class="details-item route">
  <p><%= details.origin.get("name") %></p>
  <div class="arrow double-arrow"></div>
  <p><%= details.destination.get("name") %></p>
</li>
<% var depDate = details.departureDate, arrDate = details.arrivalDate %>
<li class="details-item">
  <div class=departure-date>
    <p><%= details.depDate.format("MMM DD") %></p>
    <p class=details-caption>
      <% if (details.depFlex > 0) { %>
        plus <%= details.depFlex %> days
      <% } else { %>
        <%= details.depDate.format("dddd") %>
      <% } %>
    </p>  </div>
  <div class="arrow right-arrow"></div>
  <div class=arrival-date>
    <p><%= details.arrDate.format("MMM DD") %></p>
    <p class=details-caption>
      <% if (details.arrFlex > 0) { %>
        plus <%= details.arrFlex %> days
      <% } else { %>
        <%= details.arrDate.format("dddd") %>
      <% } %>
    </p>
  </div>
</li>
<li class=details-item>
  <div class=num-trips>
    <p><%= details.numTrips %></p>
    <p class=details-caption>trips</p>
  </div>
</li>
<li class=details-item>
  <div class=num-travelers>
    <p><%= details.numTravelers %></p>
    <p class=details-caption>traveler(s)</p>
  </div>
</li>
<li class="details-item change-btn">
  <button class="btn change-btn">Change</button>
</li>
