<li class="details-item route">
  <p><%= data.originName %></p>

  <% var arrowType; %>
  <% if (data.roundtrip) { %>
    <% arrowType = "double-arrow"; %>
  <% } else { %>
     <% arrowType = "right-arrow"; %>
   <% } %>
  <div class="arrow <%= arrowType %>"></div>

  <p><%= data.destinationName %></p>
</li>
<li class="details-item">
  <div class=departure-date>
    <p><%= data.departureDate.format("MMM DD") %></p>
    <p class=details-caption>
      <% if (data.flexDates.dep > 0) { %>
        plus <%= pluralize("day", data.flexDates.dep, true) %>
      <% } else { %>
        <%= data.departureDate.format("dddd") %>
      <% } %>
    </p>
  </div>


  <div class="arrow right-arrow"></div>
  <div class=arrival-date>

    <p><%= data.arrivalDate.format("MMM DD") %></p>
    <p class=details-caption>
      <% if (data.flexDates.arr > 0) { %>
        plus <%= pluralize("day", data.flexDates.arr, true) %>
      <% } else { %>
        <%= data.arrivalDate.format("dddd") %>
      <% } %>
    </p>
  </div>
</li>
<li class=details-item>
  <div class=num-trips>
    <p><%= data.numTrips %></p>
    <p class=details-caption>
      <%= pluralize("trip", data.numTrips) %>
    </p>
  </div>
</li>
<li class=details-item>
  <div class=num-travelers>
    <p><%= data.numTravelers %></p>
    <p class=details-caption>
      <%= pluralize("traveler", data.numTravelers) %>
    </p>
  </div>
</li>
<li class="details-item change-btn">
  <button class="btn restart-btn">Restart Search</button>
</li>
