<li class="details-item route">
  <p><%= results.origin.get("name") %></p>

  <% var arrowType; %>
  <% if (results.roundtrip) { %>
    <% arrowType = "double-arrow"; %>
  <% } else { %>
     <% arrowType = "right-arrow"; %>
   <% } %>
  <div class="arrow <%= arrowType %>"></div>

  <p><%= results.destination.get("name") %></p>
</li>
<li class="details-item">
  <div class=departure-date>
    <p><%= results.searchDates()[0].format("MMM DD") %></p>
    <p class=details-caption>
      <% if (results.flexDates.dep > 0) { %>
        plus <%= pluralize("day", results.flexDates.dep, true) %>
      <% } else { %>
        <%= results.searchDates()[0].format("dddd") %>
      <% } %>
    </p>
  </div>


  <div class="arrow right-arrow"></div>
  <div class=arrival-date>

    <p><%= results.searchDates()[1].format("MMM DD") %></p>
    <p class=details-caption>
      <% if (results.flexDates.arr > 0) { %>
        plus <%= pluralize("day", results.flexDates.arr, true) %>
      <% } else { %>
        <%= results.searchDates()[1].format("dddd") %>
      <% } %>
    </p>
  </div>
</li>
<li class=details-item>
  <div class=num-trips>
    <p><%= results.fullTrips().length %></p>
    <p class=details-caption>
      <%= pluralize("trip", results.fullTrips().length) %>
    </p>
  </div>
</li>
<li class=details-item>
  <div class=num-travelers>
    <p><%= results.get("numTravelers") %></p>
    <p class=details-caption>
      <%= pluralize("traveler", results.get("numTravelers")) %>
    </p>
  </div>
</li>
<li class="details-item change-btn">
  <button class="btn restart-btn">Restart Search</button>
</li>
