<div class="res-title clearfix">
  <% var departure = fullTrip.departure %>
  <% var arrival = fullTrip.arrival %>
  <% var summary = '' %>
  <% _.each([departure, arrival], function (trip) { %>
    <dl class="res-title-planet <%= trip === departure ? 'left' : 'right' %>">
      <dt class="planet-detail-item planet-name">
        <%= trip.origin.get("name") %>
      </dt>
      <dd class="planet-detail-item alias">
        (also known as <%= trip.origin.get("alias") %>)
      </dd>
      <dd class="planet-detail-item galaxy">
        <%= trip.origin.get("galaxy") %> galaxy
      </dd>
      <dd class="planet-detail-item clearance">
        Level <%= trip.origin.get("clearance") %> clearance required
      </dd>
      <dd class="planet-detail-item description">
        <%= trip.origin.get("desc") %>
      </dd>
    </dl>
    <% summary += trip === departure ? "<li>Departs from " : "<li>Returns from " %>
    <% summary += trip.origin.get("name") + " at " %>
    <% summary += moment(trip.get("datetime")).format("HH:mm") + " on " %>
    <% summary += moment(trip.get("datetime")).format("dddd, MMMM Do") + "</li>"%>

  <% }); %>
  <div class="arrow large-arrow double-arrow left clearfix"></div>
  <ul class="summary"><%= summary %></ul>
</div>


<div class="res-form clearfix">
  <button class="close btn btn-small">Back to All Trips</button>
  <form class=clearfix>
    <input type=hidden
      name=reservation[departure_id]
      value="<%= fullTrip.departure.id %>">

    <input type=hidden
      name=reservation[arrival_id]
      value="<%= fullTrip.arrival.id %>">

    <h3>Enter traveler details</h3>

    <% var header, attr_type, name %>
    <% for (var i = 0; i < PuddleJumper.tripSearch.numTravelers; i ++) { %>
      <% if (i === 0) { %>
        <% header = "Your Information" %>
        <% attrs = "traveler_attrs" %>
        <% name = JSON.parse(localStorage.PuddleJumper).currUsername %>
      <% } else { %>
        <% header = "Travel Companion #" + i %>
        <% attrs = "companion_attrs][" + (i - 1) %>
        <% name = "" %>
      <% } %>
      <div class="traveler-info clearfix">
        <h4><%= header %></h4>

        <label class=name>First and last name </label>
        <input type="text"
          name="reservation[<%= attrs %>][name]"
          placeholder="Enter full name"
          value="<%= name %>">

        <label class=email>Confirmation email address</label>
        <input type="text"
          class=email
          name="reservation[<%= attrs %>][email]"
          placeholder='Enter email address (optional)'>

        <label class=st-id>Stargate Traveler ID number </label>
        <input type="text"
          name="reservation[<%= attrs %>][sgtid]"
          placeholder="Enter SGT ID number, if you have one">

        <p class=no-sgtid>
          If you do not have an SGT ID, leave this blank and one will be assigned.
        </p>
      </div>
    <% } %>

    <button class="reserve btn btn-small">Reserve This Trip</button>
  </form>
  <button class="close btn btn-small">Back to All Trips</button>
</div>
