<div class="res-title clearfix">
<% _.each(['origin', 'destination'], function (endpoint) { %>
  <dl class="res-title-planet <%= endpoint === 'origin' ? 'left' : 'right' %>">
    <dt class="planet-detail-item planet-name">
      <%= planets[endpoint].get("name") %>
    </dt>
    <dd class="planet-detail-item alias">
      (also known as <%= planets[endpoint].get("alias") %>)
    </dd>
    <dd class="planet-detail-item galaxy">
      <%= planets[endpoint].get("galaxy") %> galaxy
    </dd>
    <dd class="planet-detail-item clearance">
      Level <%= planets[endpoint].get("clearance") %> clearance required
    </dd>
    <dd class="planet-detail-item description">
      <%= planets[endpoint].get("desc") %>
    </dd>
  </dl>
<% }); %>

  <div class="arrow large-arrow double-arrow left clearfix"></div>

  <div class="date-time clearfix">
    <% for (var i = 0; i < trip.length; i ++) { %>
      <dl class="date-time-leg <%= i === 0 ? 'left' : 'right' %>">
        <dt class=date><%= i === 0 ? 'Departure' : 'Return' %> time</dt>
        <dd>
          <%= moment(trip[i].datetime).format("HH:mm") %> on
          <%= moment(trip[i].datetime).format("dddd, MMMM Do") %>
        </dd>
      </dl>
    <% } %>
  </div>
</div>


<button class="close btn btn-small">Back to All Trips</button>

<div class="res-form clearfix">
  <form>
    <input type=hidden name=res[trip_attributes][0][id] value="<%= trip[0].id %>">
    <input type=hidden name=res[trip_attributes][1][id] value="<%= trip[1].id %>">

    <h3>Enter traveler details</h3>


    <% for (var i = 0; i <= PuddleJumper.tripSearch.data().numTravelers; i ++) { %>
      <div class=traveler-info>
        <h4>
          <%= i === 0 ? "Your Information" : "Travel Companion #" + i %>
        </h4>
        <label class=name>Traveler name </label>
        <input type="text"
          name="res[travelers_attributes][<%= i %>][name]"
          placeholder="Enter full name">

        <% if (i === 0) { %>
          <label class=email>Confirmation email address</label>
          <input type="text"
            class=email
            name="res[travelers_attributes][<%= i %>][email]"
            placeholder='Enter email address (optional)'>
        <% } %>

        <label class=st-id>Stargate Traveler ID number </label>
        <input type="text"
          name="res[travelers_attributes][<%= i %>][sgtid]"
          placeholder="Enter SGT ID number, if you have one">

        <p class=no-sgtid>
          If you do not have an SGT ID, leave this blank and one will be assigned.
        </p>
      </div>
    <% } %>

    <button class="reserve btn btn-small">Reserve This Trip</button>
  </form>
</div>

<button class="close btn btn-small">Back to All Trips</button>
