<div class=reservation-title>
  <dl class=res-title-planet>
    <dt class="planet-detail-item planet-name">
      <%= planets.origin.get("name") %>
    </dt>
    <dd class="planet-detail-item alias">
      <%= planets.origin.get("alias") %>
    </dd>
    <dd class="planet-detail-item galaxy">
      <%= planets.origin.get("galaxy") %>
    </dd>
    <dd class="planet-detail-item clearance">
      <%= planets.origin.get("clearance") %>
    </dd>
    <dd class="planet-detail-item description">
      <%= planets.origin.get("desc") %>
    </dd>
  </dl>
</div>

<div class="double-arrow large"></div>

<div class=reservation-title>
  <dl class=res-title-planet>
    <dt class="planet-detail-item planet-name">
      <%= planets.destination.get("name") %>
    </dt>
    <dd class="planet-detail-item alias">
      <%= planets.destination.get("alias") %>
    </dd>
    <dd class="planet-detail-item galaxy">
      <%= planets.destination.get("galaxy") %>
    </dd>
    <dd class="planet-detail-item clearance">
      <%= planets.destination.get("clearance") %>
    </dd>
    <dd class="planet-detail-item description">
      <%= planets.destination.get("desc") %>
    </dd>
  </dl>
</div>

<div class="trip-details">
  <% _.each(trip, function (leg) { %>
    <p><%= JSON.stringify(leg) %></p>
  <% }) %>
</div>

<button class="close btn btn-small">Back to All Trips</button>

<div class="res-form clearfix">
  <form>
    <h3>Enter traveler details</h3>
    <label class=email>Confirmation email address (optional)</label>
    <input type="text"
      class=email
      name="res[email]"
      placeholder='Enter email address (optional)'>

    <% for (var i = 1; i <= PuddleJumper.tripSearch.data().numTravelers; i ++) { %>
      <div class=traveler-info>
        <h4>Passenger #<%= i %></h4>
        <label class=name>Traveler Name </label>
        <input type="text"
          name="res[name][<%= i %>]"
          placeholder="Enter full name">

        <label class=st-id>Stargate Traveler ID Number </label>
        <input type="text"
          name="res[sgtid][<%= i %>]"
          placeholder="Enter STID">

        <a href="javascript:void(0)" class="get-new-id">I don't have a STID</a>
      </div>
    <% } %>

  </form>
</div>

<button class="close btn btn-small">Back to All Trips</button>
<button class="reserve btn btn-small">Reserve This Trip</button>
