<!DOCTYPE html>
<html>
<head>
  <title>Puddlejumper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.png" %>
  <script type=text/javascript>
    new Image().src = '<%= image_path('atlantis_stargate_shimmer.jpg') %>';
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
