<!DOCTYPE html>
<html>
<head>
  <title>Puddlejumper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>

  <script type="text/javascript">
    new Image().src = "<%= image_url 'atlantis_stargate_shimmer.gif' %>";
    new Image().src = "<%= image_url 'stargate_spinner.gif' %>";
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
